.form-container {
    background: #fff;
    border-radius: 20px;
}

.help-sub-main {
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container>div:first-child h3 {
    text-align: center;
    color: #464255;
    font-size: 25px;
    padding: 20px 0;
}

.Menu-field>div:first-child h6 {
    color: #000;
    font-size: 15px;
}

.Menu-field {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
}

input[type="text"] {
    border: #949494 1px solid;
    padding: 4px 5px;
    border-radius: 5px;
    width: 250px;
    font-size: 12px;
    color: #949494;
    outline: none
}

input[type="text"]::placeholder {
    color: #949494;
}

.custom-place::placeholder {
    color: #949494;
}

.input-radio.yes {
    background-color: #C16E31;
    color: white;
}

textarea {
    border: #949494 1px solid;
    padding: 3px 5px;
    border-radius: 5px;
    width: 250px;
    font-size: 12px;
    outline: none
}

.menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.menu-btn button {
    background: #FFB100;
    padding: 8px 170px;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    border-radius: 10px;
}

.Neon {
    font-family: sans-serif;
    font-size: 14px;
    color: #494949;
    position: relative;
}

.Neon * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.Neon-input-dragDrop {
    display: block;
    width: 250px;
    border-radius: 10px;
    margin: 0 auto 25px auto;
    padding: 15px;
    color: #8d9499;
    color: #97A1A8;
    background: #fff;
    border: 2px dashed #C8CBCE;
    text-align: center;
    -webkit-transition: box-shadow 0.3s, border-color 0.3s;
    -moz-transition: box-shadow 0.3s, border-color 0.3s;
    transition: box-shadow 0.3s, border-color 0.3s;
}

.Neon-input-dragDrop .Neon-input-icon {
    font-size: 48px;
    margin-top: -10px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.Neon-input-text h3 {
    margin: 0;
    font-size: 18px;
}

.Neon-input-text span {
    font-size: 12px;
}

.Neon-input-choose-btn {
    display: inline-block;
    padding: 8px 14px;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    font-size: 12px;
    font-weight: bold;
    color: #8d9496;
    border-radius: 3px;
    border: 1px solid #c6c6c6;
    vertical-align: middle;
    background-color: #fff;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.05);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.Neon-input-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}

.radio-label {
    display: inline-block;
    position: relative;
    padding-left: 20px; 
    cursor: pointer;
  }
  
  .input-radio {
    opacity: 0;
    position: absolute;
  }
  
  .radio-custom {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px; 
    width: 15px;
    background-color: #fff;
    border: 2px solid #FFB100;
    border-radius: 50%;
    margin-top: 2px;
  }
  
  .input-radio:checked + .radio-custom {
    background-color: #FFB100;
  }
  .radio{
    padding-left: 80px;
    display: flex;
  }
  .Menu-radio>div:first-child h6 {
    color: #000;
    font-size: 15px;
}

.Menu-radio {
    display: flex;
    /* justify-content: space-between; */
    padding: 20px 30px;
}
@media screen and (max-width: 425px) {
    input[type="text"] {
        width: 200px;
    }

    textarea {
        width: 200px;
    }

    .menu-btn button {
        padding: 5px 100px;
    }

    .form-container>div:first-child h3 {
        font-size: 23px;
    }

    .Menu-field>div:first-child h6 {
        font-size: 15px;
    }
}

@media screen and (max-width: 375px) {
    .help-btn button {
        padding: 5px 85px;
    }
}